<div class="container">
    <div class="container-slider">
        <ul class="slider">
            <li class="slider__item">
                <h1 class="slider__title">H1 text1</h1>
                <button class="slider-open btn-pop-up">Open pop-up button</button>
            </li>
            <li class="slider__item">
                <h1 class="slider__title">H1 text2</h1>
                <button class="slider-open btn-pop-up">Open pop-up button</button>
            </li>
            <li class="slider__item">
                <h1 class="slider__title">H1 text3</h1>
                <button class="slider-open btn-pop-up">Open pop-up button</button>
            </li>
            <li class="slider__item">
                <h1 class="slider__title">H1 text4</h1>
                <button class="slider-open btn-pop-up">Open pop-up button</button>
            </li>
            <li class="slider__item">
                <h1 class="slider__title">H1 text5</h1>
                <button class="slider-open btn-pop-up">Open pop-up button</button>
            </li>
        </ul>
        <button class="container-slider__arrow arrow-prev"></button>
        <button class="container-slider__arrow arrow-next"></button>
    </div>
</div>